.dashboard{
  width: 1024px;
  max-width: 100%;
  padding: 20px 16px;
  margin: auto;
}

.contentForm{
  width: 100%;
  margin: auto;
}

.contentForm h1{
  font-size: 32px;
  margin-bottom: 16px;
}


.checkboxArea label{
  margin-left: 8px;
  
}

.checkboxArea{
  margin: 14px 0;
  display: flex;
  align-items: center;
}

.checkboxArea input{
  width: 20px;
  height: 20px;
}

.button{
  width: 100%;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: #3183ff;
  padding: 12px 0;
  font-size: 18px;
}

.taskContainer{
  margin: 34px auto 0 auto;
  padding: 0 18px;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;

}

.taskContainer a{
  text-decoration: none;
  color: #0f0f0f;
}

.taskContainer h1{
  text-align: center;
  font-size: 32px;
  margin-bottom: 14px;
}

.task{
  margin-bottom:14px ;
  line-height: 150%;
  border: 1.5px solid #909090;
  border-radius: 4px;
  padding: 14px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.tagContainer{
  display: flex;
  align-items: center;
}

.tag{
  background-color: #3183ff;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.shareButton{
  background: transparent;
  border: 0;
  margin: 0 8px;
  cursor: pointer;
}

.taskContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskContent p{
  font-size: 18px;
  margin: 0;
  white-space: pre-wrap;
}

.tashButton{
  background: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}