.container{
  min-height: calc(100vh - 76px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}
.hero{
  position: relative !important;
  max-width: 480px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.title{
  display: inline-flex;
  font-size: 2rem;
  font-weight: 500;
  margin: 28px;
  text-align: center;
  color: var(--foreground);
}

.infoContent{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box{
  background-color: #fafafa;
  color: #000;
  padding: 14px 44px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.box:hover{
  transform: scale(1.08);
}

@media (max-width: 580px) {
  .hero{
    max-width: 80%;
  }

  .title{
    font-size: 24px;
  }

  .infoContent{
    flex-direction: column;
    align-items: center;
  }

  .box{
    width: 80%;
    margin-bottom: 14px;
    text-align: center;
  }
}
