.container{
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: center;
}
.container h1{
  font-size: 32px;
  margin-bottom: 16px;
}

.content{
  width: 100%;
  max-width: 1024px;
  padding: 20px 16px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.content p{
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer{
  margin: 20px 0;
}
.commentsContainer h2{
  margin: 20px 0;
}

.button{
  width: 100%;
  padding: 12px 0;
   border-radius: 4px;
   border: 0;
   color: #fff;
   background-color: #3183ff;
   font-size: 18px;
   margin: 12px 0;
}

.button:disabled{
  background-color: #ddd;
  color: #0f0f0f;
  cursor: not-allowed;
}

.comment{
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 12px;
}

.headComment{
  display: flex;
  align-items: center;
} 

.commentsLabel{
  font-weight: bold;
  background-color: #ccc;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 8px;
  color: #0f0f0f;
}

.buttonTrash{
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.comment p{
  margin: 14px 0 0 0;
  white-space: pre-wrap;
}